
.bestsellers-list
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.bestsellers-list span:nth-child(1)
{
     font-size: 2rem;
     font-weight: 500;
     margin-right: 40rem;
}
.fp-list
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.fp-list span:nth-child(1)
{
     font-size: 2rem;
     font-weight: 500;
     margin-right: 33rem;
}


/* /////////////////////   time deal of the week */

.shipping-container{
    display: flex;
    flex-direction: column;
}
.deal-of-the-week{
    background-image: url("https://ogami-react.vercel.app/_next/static/media/bg.3397ec36.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 32rem;
}
.deal-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-right: 4rem;
}
.dealoftheweek{
    font-size: 2.7rem;
    font-weight: 700;
}
.lorem{
    color: rgb(92, 90, 90);
    word-spacing: .1rem;
}
.time-display{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.time-display span:nth-child(1){
    border: 1px solid;
    font-size: .7rem;
    height: 3rem;
    width: 2.5rem;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0;
}
.time-display span:nth-child(2){
    border: 1px solid;
    font-size: .7rem;
    height: 3rem;
    width: 2.5rem;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0;
}
.time-display span:nth-child(3){
    border: 1px solid;
    font-size: .7rem;
    height: 3rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    background-color: white;
    border: 0;
}
.time-display span:nth-child(4){
    border: 1px solid;
    font-size: .7rem;
    height: 3rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    background-color: white;
    border: 0;
}
.time-button{
        background-color: rgb(17, 222, 17);
        height: 3rem;
        width: 8rem;
        border: 0;
        outline: 0;
        font-size: .8rem;
        color: white;
        border-radius: 2.5rem;
        font-weight: 500;
}
.lemon-img{
    margin-left: 2rem;
}
.lemon-img img{
    animation: translate 1s infinite linear ;
}
@keyframes translate{
    0%
    {
        transform: translateY(.5rem);
    }
    50%
    {
        transform: translateY(-1rem);
    }
    100%
    {
        transform: translatey(.5rem);
    }
}
.help-conntainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(240, 238, 238, 0.414);
    padding: 1rem 2rem 1rem 3rem;
    gap: 8rem;
    margin-bottom: 4rem;
    
}
.shipping{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    border-right: 1px solid rgba(219, 217, 217, 0.414);
    padding: .1rem 3rem .1rem .2rem;
}
.support-img{
    height: 1.7rem;
    width: 1.7rem;
}
.shipping span:nth-child(1){
    font-weight: 500;
}