.card2-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 2rem;

}
.card2-price-div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.card2-products-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
}
.card2-newproducts-img{
    width: 4rem;
    height: 4rem;
    border: 1px solid rgba(211, 209, 209, 0.344);
    padding: 1rem;
    transition: .4s linear ;
}
.card2-newproducts-img:hover{
    border: 1px solid rgba(0, 128, 0, 0.457);
    transition: .1s linear ;
}
.card2-price{
    font-weight: 600;
}
.card2-product-name{
    font-weight:700;
}