.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 18rem;
    margin-top: 1rem;
    gap: 3rem;
    margin-left: 1rem;
}
.footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.footer-adress-div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    color: rgb(97, 95, 95);
    /* font-weight: 500; */
}
.footer-logo{
    width: 16rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}
.footer-div1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.5rem;
}
.footer-div2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.footer-heading{
    font-weight: 700;
    letter-spacing: .1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.footer-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5rem;
    color: rgb(97, 95, 95);
    font-weight: 500;
}
.subscribe{
    width: 20rem;
    display: flex;
}
.email{
    border: 0;
    outline: 0;
    width: 8rem;
    height: 3rem;
    border-radius: 2rem 0rem 0rem 2rem;
    font-size: 1.1rem;
    background-color: rgba(239, 237, 237, 0.73);
    text-align: center;
}
.sub-btn{
    border: 0;
    outline: 0;
    background-color: rgb(120, 189, 17);
    color: white;
    width: 8rem;
    height: 3rem;
    border-radius: 0rem 2rem 2rem 0rem;
}
.footer-facebook{
    background-color: rgb(217, 217, 221);
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 50%;
}

.footer-facebook:hover{
    background-color: green;
    color: white;
    transition: .5s;
}
.footer-icons{
    display: flex;
     gap:1rem;
}